<md-subheader class="user-subheader">
  <h4 class="title-bar">
    <ng-md-icon class="floater-left" icon="person" hide-gt-xs ng-click="toggleContacts()">
    </ng-md-icon>
    Messages
    <ng-md-icon  icon="info" class="floater-right" hide-gt-sm ng-click="toggleInfo()">
    </ng-md-icon>
  </h4>
  <div ng-if="MessCtrl.selection!=null">
    <div class="title-user">
      <image  ng-src="{{MessCtrl.selection.img }}"  class="user-photo-message"></image>
      <div class="right-title-bar">
        <h4 >{{MessCtrl.selection.name}} </h4>
      </div>
      <div class="right-title-bar">
        <h6><span > {{MessCtrl.membersNames}} </span>
        </h6>
      </div>
    </div>
  </div>
</md-subheader>
<md-content flex class="messages" ng-if="MessCtrl.selection!=null">
    <repeat-messages messages="MessCtrl.messages" user-id="MessCtrl.currentUser._id" group="MessCtrl.selection.kind"></repeat-messages>

</md-content>
<md-content class="welcome-message" ng-if="MessCtrl.selection==null">
  <p>The Cha-Chat</p>
</md-content>

<div ng-if="MessCtrl.selection!=null">

  <md-divider></md-divider>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab>
      <md-tab-label>
        <ng-md-icon  icon="keyboard">
        </ng-md-icon>
      </md-tab-label>
      <md-tab-body>
        <md-content class="md-padding">
          <div  class="input" >
            <form ng-submit="MessCtrl.addMessage()">
              <input type="text" ng-model="MessCtrl.sendText">
              <md-button aria-label="send" type="submit" >SEND</md-button>
            </form>
          </div>
         </md-content>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <ng-md-icon  icon="edit" >
        </ng-md-icon>
      </md-tab-label>
      <md-tab-body>
        <div>
          <canvas-drawing send-canvas="MessCtrl.sendCanvas"></canvas-drawing>

         </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
