
  <md-toolbar  layout="row" layout-align="center center" md-whiteframe="12">
    <span layout-margin="3px"></span>
    <md-icon aria-label="Dashboard"  ng-hide="MessCtrl.selection==null" ng-click="MessCtrl.selectionNull()">keyboard_backspace
      <md-tooltip>
        Go Back
      </md-tooltip>
    </md-icon>
    <md-icon aria-label="Add User"  hide-gt-xs ng-click="MessCtrl.toggleContacts()">contacts</md-icon>
    <span layout-margin="3px"></span>
    <span flex >Dashboard</span>
    <md-icon ng-class="{'md-primary':MessCtrl.requests.length==0,'alert':MessCtrl.requests.length>0}"
      ng-click="MessCtrl.selectionNull()">flag <md-tooltip>
      {{MessCtrl.requests.length}} New Requests
    </md-tooltip></md-icon>
    <md-button aria-label="settings" class="md-icon-button" ng-show="MessCtrl.isLoggedIn()" ui-sref-active="active" ui-sref="settings"><ng-md-icon icon="settings"></ng-md-icon>
    </md-button>
    <md-button aria-label="logout" class="md-icon-button" ng-show="MessCtrl.isLoggedIn()" ui-sref-active="active" ui-sref="logout"><ng-md-icon icon="logout"></ng-md-icon>
    </md-button>
    <ng-md-icon  icon="info" class="floater-right" hide-gt-sm ng-click="MessCtrl.toggleInfo()">
    </ng-md-icon>
    <span layout-margin="3px"></span>
  </md-toolbar>
  <div ng-if="MessCtrl.selection!=null">
    <md-toolbar layout="column" flex class="md-accent">
      <div flex layout="row" layout-align="center center" >
        <span layout-margin="3px"></span>
        <image  ng-src="{{MessCtrl.selection.img }}"  class="user-photo-message"></image>
        <h4  flex layout="row" layout-align="end">{{MessCtrl.selection.name}} </h4>
        <span layout-margin="3px"></span>
      </div>
      <div flex layout="row" layout-align="top end" style="height:40px">
        <span flex style="min-width:80px"></span>
        <h6  >{{MessCtrl.membersNames}} </h6>
        <span layout-margin="2px"></span>
      </div>

    </md-toolbar>
  </div>
<repeat-messages  ng-if="MessCtrl.selection!=null" messages="MessCtrl.messages" user-id="MessCtrl.currentUser._id" group="MessCtrl.selection.kind" scroll-fn="MessCtrl.Messages.getNextPackage(MessCtrl.roomId)"></repeat-messages>

<md-content flex layout="column" ng-if="MessCtrl.selection==null">
  <dashboard></dashboard>
</md-content>

<div ng-if="MessCtrl.selection!=null">

  <md-divider></md-divider>
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab>
      <md-tab-label>
        <ng-md-icon  icon="keyboard">
        </ng-md-icon>
      </md-tab-label>
      <md-tab-body>
        <md-content class="md-padding">
          <div  class="input" >
            <form ng-submit="MessCtrl.addMessage()">
              <input type="text" ng-model="MessCtrl.sendText">
              <md-button aria-label="send" type="submit" >SEND</md-button>
            </form>
          </div>
         </md-content>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <ng-md-icon  icon="edit" >
        </ng-md-icon>
      </md-tab-label>
      <md-tab-body>
        <div >
          <canvas-drawing send-canvas="MessCtrl.sendCanvas"></canvas-drawing>
        </div>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
