h4 .md-button, h4 {
  padding:0px;
}

div .md-button{
  float:right;
  margin:0px;
}

.navbar {
  font-family: 'Croissant One', sans-serif;
  color: darkslategray;
  min-height:8vh;
  max-height:8vh;
}


.md-icon-button{
  margin:0px !important;
}

#ch-title{
  padding:0px;
  margin:0px;
  float:left
}

h2{
  padding:0px;
  margin:0px;
}
.navbar h2{
  padding:10px;
  font-size: .7em;
}
