<form ng-submit="GCtrl.newGroup(groupName)" layout="column">
  <md-input-container  >
    <label for="groupName">Group Name</label>
    <input  id="groupName" type="text" class="search-input" ng-model="GCtrl.groupName">
    <p class="help-block">{{ ac.errors.other }}</p>
  </md-input-container>
    <div layout="row" layout-align="end">
      <md-button  class="md-primary" ng-click="GCtrl.showDialog()" ng-if="GCtrl.selection.admin==ICtrl.user._id">
        Add Friends
      </md-button>
      <md-button type="submit">Create</md-button>
    </div>

</form>
<div flex>
  <!--<md-list>-->
    <!--<md-list-item ng-repeat="person in GCtrl.added" >-->
      <!--<img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />-->
      <!--<p>{{person.name}}</p>-->
      <!--<ng-md-icon icon="info_outline" aria-label="info"  ng-class="">-->
        <!--<md-tooltip>-->
          <!--{{person.email}}-->
        <!--</md-tooltip>-->
      <!--</ng-md-icon>-->
      <!--<label>-->
        <!--<ng-md-icon icon="close" class="help-block" aria-label="Going to Add"  ng-class=""></ng-md-icon>-->
        <!--<input type="checkbox" ng-model="person.members[0].add" ng-show="false" ng-change="GCtrl.removeMemberId(person._id)">-->
      <!--</label>-->
    <!--</md-list-item>-->
  <!--</md-list>-->
  <md-card ng-repeat="member in GCtrl.added">
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" alt="{{ member.name }}" ng-src="{{member.img}}">
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{member.name}}</span>
        <span class="md-subhead">{{member.email}}</span>
        <span class="md-subhead">{{member.status}}</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-actions layout="row" layout-align="end center">
      <md-button  ng-click="GCtrl.removeMemberId(member._id)">
        Delete
      </md-button>
    </md-card-actions>
  </md-card>
</div>

  <!--<h4 class="title-bar" >Not being added</h4>-->
<!--<md-content flex>-->
  <!--<md-list>-->
    <!--<md-list-item ng-repeat="person in GCtrl.rooms| filter:searchText" ng-if="!person.members[0].add">-->

      <!--<img alt="{{ person.members[0].name }}" ng-src="{{ person.members[0].img }}" class="md-avatar" />-->
      <!--<p>{{person.members[0].name}}</p>-->
      <!--<ng-md-icon icon="info_outline" aria-label="info"  ng-class="">-->
        <!--<md-tooltip>-->
          <!--{{person.members[0].email}}-->
        <!--</md-tooltip>-->
      <!--</ng-md-icon>-->
      <!--<label>-->
        <!--<ng-md-icon icon="done"class="answer-block" aria-label="Going to Skip"  ng-class=""></ng-md-icon>-->
        <!--<input type="checkbox" ng-model="person.members[0].add" ng-show="false" ng-change="GCtrl.addMemberId(person.members[0]._id)">-->
      <!--</label>-->
      <!--<br>-->
    <!--</md-list-item>-->
  <!--</md-list>-->
<!--</md-content>-->
<!--<md-divider></md-divider>-->
<!--<md-input-container  >-->
  <!--<label for="searchInput">Search</label>-->
  <!--<input  id="searchInput" type="search"  ng-model="searchText">-->
<!--</md-input-container  >-->


