
<md-content class="md-padding" flex  layout-gt-md="row" layout="column">
  <div flex >
    <md-card >
      <md-toolbar layout="row" class="md-accent" layout-align="center center">Add a new Friend</md-toolbar>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 2</md-button>
      </md-card-actions>
    </md-card>
    <md-card flex layout="column">
      <md-toolbar layout="row" class="md-accent" layout-align="center center">Create A group</md-toolbar>
      <md-card-content layout="row" flex>
        <md-content   class="md-media-xl card-media" flex  layout="column"  ui-view="addGroup">

        </md-content>
        <!--<md-card-actions layout="column">-->
          <!--<md-button class="md-icon-button" aria-label="Favorite">-->
            <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
          <!--</md-button>-->
          <!--<md-button class="md-icon-button" aria-label="Settings">-->
            <!--<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>-->
          <!--</md-button>-->
          <!--<md-button class="md-icon-button" aria-label="Share">-->
            <!--<md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>-->
          <!--</md-button>-->
        <!--</md-card-actions>-->
      </md-card-content>
    </md-card>
  </div>
  <div flex layout="column">
    <md-card >
      <md-toolbar layout="row" class="md-accent" layout-align="center center">Open a Conversation</md-toolbar>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
      </md-card-actions>
    </md-card>
    <md-card>
      <md-toolbar layout="row" class="md-accent" layout-align="center center">Settings</md-toolbar>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>
