<div layout="row" flex layout-align="center">
  <div flex-gt-xs="50" flex-gt-md="30" flex="70" layout="column" layout-align="center">
    <md-content   md-whiteframe="10">
      <md-toolbar layout="row" layout-padding layout-align="center center">
        <span class="md-toolbar-item md-headline">Sign up</span>
      </md-toolbar>
      <form name="form"  layout-padding="3px"  ng-submit="vm.register(form)" layout="column" novalidate>

        <md-input-container layout="column">
          <!--<label>Name</label>-->
          <md-icon class="md-dark" aria-label="name">person</md-icon>
          <input flex="90" type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required placeholder="Name"/>
          <div ng-messages="form.name.$error">
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>
        <md-input-container layout="column">
          <label>Email</label>
          <md-icon class="md-dark" aria-label="mail">mail</md-icon>
          <input flex="90" type="email" name="email"  ng-model="vm.user.email"
                 required  minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
                 mongoose-error/>
          <div ng-messages="form.email.$error">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              Your email must be between 10 and 100 characters long and look like an e-mail address.
            </div>
            <div ng-message="mongoose">
              {{vm.errors.password}}
            </div>
          </div>
        </md-input-container>
        <md-input-container layout="column">
          <label>Password</label>
          <md-icon class="md-dark" aria-label="password">vpn_key</md-icon>
          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="8"
                 required
                 mongoose-error/>
          <div ng-messages="form.password.$error">
            <div ng-message="required">
              Password is required
            </div>
            <div ng-message="minlength">
              Password must be at least 8 characters
            </div>
            <div ng-message="mongoose">
              {{vm.errors.password}}
            </div>
          </div>
        </md-input-container>
        <md-input-container layout="column">
          <label>Confirm Password</label>
          <md-icon class="md-dark" aria-label="password">vpn_key</md-icon>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="8" required/>
          <div ng-messages="form.confirmPassword.$error">
            <div ng-message="required">
              Password is required
            </div>
            <div ng-message="minlength">
              Password must be at least 8 characters
            </div>
            <div ng-message="match">
              Passwords must match.
            </div>
          </div>
        </md-input-container>

        <p class="help-block">{{ vm.errors.email }}</p>
        <div class="md-actions" layout="row" layout-align="center">
          <md-button aria-label="Cancel"  ui-sref="main">Cancel</md-button>
          <md-button class="md-primary" aria-label="sign up" type="submit">Sign up</md-button>
        </div>
      </form>
    </md-content>

  </div>
  </md-content>

</div>

