#chatViewPort{
  min-height:90vh;
  max-height:90vh;
}

.input input{
 //border: 2px solid red;
   min-height:50px;
   width:70%;
    margin:0px;
  padding:0px;
 }
.input .md-button{
//border: 2px solid red;
  min-height:50px;
  width:16%;
  margin-right:2%;
  padding:0px;
}

.title-bar{
  background-color: dimgray;
  box-shadow: inset 0 0 200px hsla(0,0%,0%,.4);
  color:orangered;
  margin:0px;
  font-family: 'Croissant One', sans-serif;
  text-align:center;
}

.add-person{
  postion:absolute;
  top:-40%;
  left:40%;
  width:300px;
  height:250px;

}
.md-sidenav-left{
  width:16em;
}
.md-sidenav-right{
  width:15em;
}

.floater-right{
  float:right;
  padding-right:5px;
}


.floater-right:hover{
  color:lavenderblush;
  cursor:pointer;
}


.floater-left{
  float:left;
  padding-right:5px;
}


.floater-left:hover{
  color:lavenderblush;
  cursor:pointer;
}

