<md-dialog aria-label="List dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Choose Friend to be Added</h2>
      <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content  class="md-padding autocomplete">
       <md-contact-chips
         ng-model="contacts"
         md-contacts="querySearch($query)"
         md-contact-name="name"
         md-contact-image="img"
         md-contact-email="email"
         md-require-match="true"
         md-highlight-flags="i"
         filter-selected="filterSelected"
       placeholder="To">
    </md-contact-chips>
      </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="addFriendToGroup()" class="md-secondary">
            Add Friend
          </md-button>
        <md-button ng-click="closeDialog()" class="md-primary">
            Close Dialog
          </md-button>
      </md-dialog-actions>
  </md-dialog>
